@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4 text-center">Welcome to the Anime Fan Web page !</h1>
<br />

<div >   

    <h2 class="display-6">This website has been made to bring together new and old fans of anime.
        In our tabs above you can see which events you would like to attend.
    </h2>
   <br />
    <h3>
        It is highly recommended to create an account to add shows to your list, as well
        as saving events and interacting with our website and saving your preferences !
    </h3>

</div>
